[submodule "cpp/modules/tasler-cpp"]
	path = cpp/lib/tasler-cpp
	url = https://github.com/JohnTasler/tasler-cpp.git
[submodule "cpp/modules/mvvm-cppwinrt"]
	path = cpp/lib/mvvm-cppwinrt
	url = https://github.com/JohnTasler/mvvm-cppwinrt.git
[submodule "cs/lib/tasler-dotnet"]
	path = cs/lib/tasler-dotnet
	url = https://github.com/JohnTasler/tasler-dotnet.git
